<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h1>Roadmap</h1>
      <h2>MLOps</h2>
      <p>
        <ul>
          <li>
            <strong>Data Lifecycle</strong>:
            <p>
              movement from development -> stage -> production
            </p>
          </li>
          <li>
            <strong>Automate : AI Model training</strong>
            <p>
              provide a baseline to train an AI-model using test dataset from the data lake,
              use production dataset to retrain and re-deploy, and predict with more accuracy.
              No restart. On the fly.
            </p>
          </li>
          <li>
            <p>
              <a href="https://aws.amazon.com/what-is/mlops/#:~:text=Machine%20learning%20operations%20(MLOps)%20are,deliver%20value%20to%20your%20customers." target="_blank"/>
              Excellent explanation
            </p>
          </li>
        </ul>
      </p>

      <h2>More Data Connectors</h2>
      <p>
        <ul>
          <li>Postgresql</li>
          <li>Oracle</li>
          <li>Amazon RedShift</li>
        </ul>
      </p>
    </div>
  </div>
</div>