<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h2>CR2 (Candidate Release 2)</h2>
      <h1>Feature 1</h1>
      <p>
        Traditional Java stacks were engineered for monolithic applications
        with long startup times and large memory requirements in a world
        where the cloud, containers, and Kubernetes did not exist. Java
        frameworks needed to evolve to meet the needs of this new world.
      </p>
      <h1>Feature 2</h1>
      <p>Quarkus was created to enable Java developers to create
        applications for a modern, cloud-native world. Quarkus is a
        Kubernetes-native Java framework tailored for GraalVM and HotSpot,
        crafted from best-of-breed Java libraries and standards.
        The goal is to make Java the leading platform in Kubernetes and
        serverless environments while offering developers a
        framework to address a wider range of distributed application architectures.
      </p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h2>GA (General Availability)</h2>
      <h1>Feature 1</h1>
      <p>
        Traditional Java stacks were engineered for monolithic applications
        with long startup times and large memory requirements in a world
        where the cloud, containers, and Kubernetes did not exist. Java
        frameworks needed to evolve to meet the needs of this new world.
      </p>
      <h1>Feature 2</h1>
      <p>Quarkus was created to enable Java developers to create
        applications for a modern, cloud-native world. Quarkus is a
        Kubernetes-native Java framework tailored for GraalVM and HotSpot,
        crafted from best-of-breed Java libraries and standards.
        The goal is to make Java the leading platform in Kubernetes and
        serverless environments while offering developers a
        framework to address a wider range of distributed application architectures.
      </p>
    </div>
  </div>
</div>
