<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h1>CR2 (Candidate Release 2)</h1>
      <h2>Time Travel</h2>
      <p>

      </p>

      <h2>GraphQL Support</h2>
      <p>
      </p>

      <h2>More Data Connectors</h2>
      <p>
        <ul>
          <li>Postgresql</li>
          <li>Mysql</li>
          <li>Oracle</li>
          <li>Snowflake</li>
          <li>Microservices</li>
          <li><a href="https://airbyte.com/connectors" target="_blank">Airbyte Catalog</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>