<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
    <img src="{{site.baseurl}}/assets/images/about/icon-reactive.svg">
    </div>
    <div class="width-9-12 width-12-12-m">
        <p>
        </p>
    </div>
    <div class="width-12-12 width-12-12-m">
        <p>
            Braineous supports a core connector for MongoDB as a target system.
            Candidate Release 2 will include many target data connectors such as
            <ul>
                <li>Postgresql</li>
                <li>Mysql</li>
                <li>Oracle</li>
                <li>Snowflake</li>
                <li>Microservices</li>
                <li><a href="https://airbyte.com/connectors" target="_blank">Airbyte Catalog</a></li>
            </ul>
        </p>
    </div>
  </div>
</div>
