<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
    <img src="{{site.baseurl}}/assets/images/about/icon-reactive.svg">
    </div>
    <div class="width-9-12 width-12-12-m">
        <p>
        </p>
    </div>
    <div class="width-12-12 width-12-12-m">
        <p>
            Braineous supports core connectors for <strong>MongoDB</strong> and <strong>MySql</strong> as target staging stores.
            Future releases will include many target data connectors such as
            <ul>
                <li>Postgresql</li>
                <li>Oracle</li>
                <li>Snowflake</li>
                <li><a href="https://airbyte.com/connectors" target="_blank">Airbyte Catalog</a></li>
            </ul>
        </p>
        <p>
            Braineous also provides a <strong>Staging Store Framework</strong> for developers to develop custom connectors.
            For a hands-on tutorial please refer to: <a href="/braineous/guides/create-a-custom-data-connector">Create a Data Connector</a>
        </p>
    </div>
  </div>
</div>
