<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
    <img src="{{site.baseurl}}/assets/images/about/icon-reactive.svg">
    </div>
    <div class="width-9-12 width-12-12-m">
        <p>
        </p>
    </div>
    <div class="width-12-12 width-12-12-m">
        <p>
            The current Release, supports the following target stores
            <ul>
                <li>Snowflake</li>
                <li>MySQL</li>
                <li>ElasticSearch</li>
                <li>MongoDB</li>
                <li>ClickHouse</li>
            </ul>
        </p>
        <p>
            In the future releases, Braineous team will add support for more target stores and systems such as :
            <li>Postgresql</li>
            <li>Oracle</li>
            <li>Amazon RedShit</li>
        </p>
        <p>
            Braineous also provides a <strong>Staging Store Framework</strong> for developers to develop custom connectors.
            For a hands-on tutorial please refer to: <a href="/braineous/guides/create-a-custom-data-connector">Create a Data Connector</a>
        </p>
    </div>
  </div>
</div>
