<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-9-12 width-12-12-m">
      <p class="intropara">
        A <strong>'datalake store'</strong> is the internal store the pipeline delivers the
        data for applications that have use cases related to analytics and machine learning. Braineous
        is built on <strong>Apache Flink</strong> as its data processing engine and supports <strong>Apache Hive</strong> based data lakes.
        Future releases of Braineous will include a <strong>Data Lake Connector framework</strong> that
        can support third-party data lakes like Apache Iceberg, Snowflake or a custom data lake
        developed by the customer.
      </p>
      <img src="../guides/images/build-time-principle.png" alt="Quarkus Build Time Principle" width="90%">
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Apache Hive</h2>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Analytics/Business Intelligence</h2>
      <p>
      </p>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Machine Learning</h2>
      <p>

      </p>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Next on roadmap: MLOps</h2>
      <p>
      </p>
    </div>
  </div>
</div>
</div>
