<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-9-12 width-12-12-m">
      <p class="intropara">
        A <strong>'datalake store'</strong> is the internal store the pipeline delivers the
        data for applications that have use cases related to analytics and machine learning. Braineous
        is built on <strong>Apache Flink</strong> as its data processing engine and supports <strong>Apache Hive</strong> based data lakes.
        Future releases of Braineous will include a <strong>Data Lake Connector framework</strong> that
        can support custom data lakes developed by the customer.
      </p>
      <img src="../guides/images/build-time-principle.png" alt="Quarkus Build Time Principle" width="90%">
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Apache Hive</h2>
      <p>
        <strong>Apache Hive</strong> has established itself as a focal point of the data warehousing ecosystem.
        It serves as not only a SQL engine for big data analytics and ETL, but also a data management platform, where data is discovered, defined, and evolved.

        Flink offers a two-fold integration with Hive.

        The first is to leverage Hive’s Metastore as a persistent catalog with Flink’s HiveCatalog for storing Flink specific metadata across sessions. For example,
        users can store their Kafka or Elasticsearch tables in Hive Metastore by using HiveCatalog, and reuse them later on in SQL queries.

        The second is to offer Flink as an alternative engine for reading and writing Hive tables.

        The HiveCatalog is designed to be “out of the box” compatible with existing Hive installations.
        You do not need to modify your existing Hive Metastore or change the data placement or partitioning of your tables.
      </p>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>ETL/ELT</h2>
      <p>
        <strong>Braineous</strong> allows for seamless data integration.
        Customers have to
        spend months of integration cost in both money
        and time to just do the <strong>Transform</strong> part of ETL.

        With <strong>Braineous</strong> they simply send raw data and <strong>'Transormation'</strong>
        via Configuration makes systems
        talk to each other saving time and money.
      </p>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Machine Learning</h2>
      <p>
        What challenge does <strong>Braineous</strong> solve for <strong>Machine Learning</strong> ?

        From a birds eye view, machine learning is a way to teach a
        computer how to think and make decisions which could also
        translate to prediction as it can learn patterns of data
        it learns and then predicts an outcome.
        Accuracy of prediction is the goal. In <strong>Aviation</strong>, it could be what will my
        flight network look like in terms of delays and disruptions
        2 weeks from now so I am better prepared with crew as in pilot/
        staffs and flight plans as in for a disrupted fligh. How can
        I offer cheaper options to mitigate having to put passengers
        on another flight in my network that day.
      </p>
      <p>
        To do that again at a very high level, you need to train
        this machine using data relevant to the application.
        More data you can use the better the accuracy. This is
        where <strong>Braineous</strong> data pipeline focuses as it can
        handle lots of data volume.

        <strong>Braineous</strong> would provide the infrastructure
        a data scientist and machine learning engineer would need
        to focus on their main goal which is building the AI model.
      </p>
    </div>
  </div>
</div>
</div>
