<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-9-12 width-12-12-m">
      <p class="intropara">
        A data pipeline connects the data source to a target store/system. The data
        source generates the data and posts it to the Braineous ingestion system
        via the Braineous Data Ingestion Java SDK.

        Braineous data pipeline engine supports multiple data sources and multiple
        target systems that can be associated with a single pipe.

        In turn it supports as many pipes that maybe necessary for the applications in
        question at scale.
      </p>
      <p class="intropara">
        Braineous transforms any data-format. (XML,CSV, or JSON) into JSON for it's processor.
        Once JSON a simple Object Graph and uses configured JSONPATH-expressions
        to produce data for the target system and delivers it to desired data-format.

        Completely dynamic. Just change the pipe configuration and roll.
      </p>
      <img src="../guides/images/build-time-principle.png" alt="Quarkus Build Time Principle" width="90%">
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Data Ingestion</h2>
      <p>
        The Data Ingestion process starts by sending data to the BRAINEOUS Data Ingestion endpoint. It is processed
        asynchronously as the data moves through its pipe through an Apache Kafka Topic and an Apache Flink
        Stream Processor
      </p>
      <p>
        Each ingestion goes through an ordered process of phases which are
        <u>
          <li>Transformation</li>
          <li>Cleansing especially for Machine Learning applications</li>
          <li>Delivery to the Target system</li>
        </u>
      </p>
      </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Scale</h2>
      <p>
      </p>
      </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Accuracy</h2>
      <p>

      </p>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Data Elasticity</h2>
      <p>

      </p>
    </div>

    <div class="width-9-12 width-12-12-m">
      <h2>Next on roadmap: Timeline based replay</h2>
      <p>
      </p>
    </div>
  </div>
  </div>
</div>
