
<div class="full-width-bg component-slim get-started-steps">
  <div class="grid-wrapper">
      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">1</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Install MongoDB</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>brew tap mongodb/brew</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>brew update</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>brew install mongodb-community@7.0</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">2</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Download Braineous</h3>
          <div class="grid-wrapper">
              <a href="https://github.com/bugsbunnyshah/braineous_dataplatform/releases/download/braineous-1.0.0-CR1/braineous-1.0.0-cr1.zip">Braineous-1.0.0-CR2</a>
          </div>
      </div>

      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">3</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Start Zookeeper</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>cd braineous-1.0.0-cr2/bin</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./start_zookeper.sh</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">4</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Start Kafka</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>cd braineous-1.0.0-cr2/bin</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./start_kafka.sh</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">5</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Start Flink</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>cd braineous-1.0.0-cr2/bin</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./start_flink.sh</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">6</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Start Hive Metastore</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>cd braineous-1.0.0-cr2/bin</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./start_metastore.sh</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">7</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Start Braineous</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>cd braineous-1.0.0-cr2/bin</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./start_braineous.sh</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">8</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Test Braineous Installation</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight"><code>cd braineous-1.0.0-cr2/bin</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./test_installation.sh</code></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">9</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Generate an API Key and API Secret</h3>
          <div class="grid-wrapper">
              <div class="width-6-12 width-12-12-m">
                  <div class= "highlighter-rouge">
                      <div class="highlight">
                          <pre class="highlight">Create a Tenant</pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight"><code>./pipemon.sh</code></pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight">
                        ********************
                         𝔹ℝ𝔸𝕀ℕ𝔼𝕆𝕌𝕊
                         *****************
                        > If you have a tenant press [l] to login, If you need to create a tenant press[c]
                        c
                        Create a tenant
                        > tenant:
                        cr2_tenant
                        > email:
                        cr2@cr2.com
                        > password:
                        password
                        ***TENANT_CREATION_SUCCESS***
                        {principal: cb4e0e9f-1b06-4e38-8f8a-395775d1a83f, apiSecret: e41bc11a-83ea-42e1-96c1-5bb136de9ce1, name: cr2_tenant, email: cr2@cr2.com, password: 5F4DCC3B5AA765D61D8327DEB882CF99, apiKey: cb4e0e9f-1b06-4e38-8f8a-395775d1a83f}
                        Please keep the API secret safe for Data Platform usage. This will not be displayed in the future for security reasons
                          </pre>
                      </div>
                      <div class="highlight">
                          <pre class="highlight">Please use this generated API Key and API Secret for the tutorials.</pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="width-2-12 width-12-12-m">
          <h2 class="step">Step <span class="step-no">10</span></h2>
      </div>
      <div class="width-10-12 width-12-12-m">
          <h3>Create a Data Pipeline</h3>
          <p><a href="{{site.baseurl}}/guides/getting-started">Next</a></p>
      </div>
  </div>
</div>

