<div class="nav-wrapper">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <input type="checkbox" id="checkbox" />
      <nav id="main-nav" class="main-nav">
        <div class="logo-wrapper">
           <a href="{{site.baseurl}}/">
              <span>BRAINEOUS</span>
           </a>
        </div>
    <label class="nav-toggle" for="checkbox">
      <i class="fa fa-bars"></i>
    </label>
    <ul id="menu" class="menu">
      <li class="dropdown">
        <span href="{{site.baseurl}}/about/">WHY?<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <!--<li><a href="{{site.baseurl}}/about" class="{% if page.url contains '/about/' %}active{% endif %}">WHAT IS BRAINEOUS?</a></li>-->
          <li><a href="{{site.baseurl}}/container-first" class="{% if page.url contains '/container-first/' %}active{% endif %}">High Scale Data Ingestion</a></li>
          <!--<li><a href="{{site.baseurl}}/continuum" class="{% if page.url contains '/continuum/' %}active{% endif %}">Automated Data Movement</a></li>-->
          <li><a href="{{site.baseurl}}/developer-joy" class="{% if page.url contains '/developer-joy/' %}active{% endif %}">Data Pipelines</a></li>
          <li><a href="{{site.baseurl}}/data-lake" class="{% if page.url contains '/data-lake/' %}active{% endif %}">Data Lake</a></li>
          <li><a href="{{site.baseurl}}/continuum" class="{% if page.url contains '/continuum/' %}active{% endif %}">Data Connectors</a></li>
          <!--
          <li><a href="{{site.baseurl}}/standards" class="{% if page.url contains '/standards/' %}active{% endif %}">STANDARDS</a></li>
          -->
        </ul>
      </li>
      <li class="dropdown">
        <span href="{{site.baseurl}}/learn/">Learn<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <!--<li><a href="{{site.baseurl}}/get-started" class="{% if page.url contains '/get-started/' %}active{% endif %}">GET STARTED</a></li>-->
          <li><a href="{{site.baseurl}}/guides/developer-guide" class="{% if page.url contains '/guides/developer-guide' %}active{% endif %}">Developer Documentation (1.0-CR3)</a></li>
          <li><a href="{{site.baseurl}}/get-started" class="{% if page.url contains '/get-started/' %}active{% endif %}">Get Started</a></li>
          <li><a href="{{site.baseurl}}/guides/getting-started" class="{% if page.url contains '/guides/getting-started' %}active{% endif %}">Create a Data Pipeline</a></li>
          <li><a href="{{site.baseurl}}/guides/create-a-custom-data-connector" class="{% if page.url contains '/guides/create-a-custom-data-connector' %}active{% endif %}">Create a Data Pipeline Connector</a></li>
          <li><a href="{{site.baseurl}}/guides/create-a-integration-runner" class="{% if page.url contains '/guides/create-integration-runner' %}active{% endif %}">Create a a Custom Data Integration Agent</a></li>
          <li><a href="{{site.baseurl}}/guides/data-lake" class="{% if page.url contains '/guides/data-lake' %}active{% endif %}">Access the Data Lake</a></li>
          <li><a href="{{site.baseurl}}/guides/data-transform" class="{% if page.url contains '/guides/data-transform' %}active{% endif %}">Data Transformation</a></li>
          <li><a href="{{site.baseurl}}/guides/snowflake-connector" class="{% if page.url contains '/guides/snowflake-connector' %}active{% endif %}">Snowflake Data Pipeline Connector</a></li>
          <li><a href="{{site.baseurl}}/guides/mysql-connector" class="{% if page.url contains '/guides/mysql-connector' %}active{% endif %}">MySQL Data Pipeline Connector</a></li>
          <li><a href="{{site.baseurl}}/guides/elastic-connector" class="{% if page.url contains '/guides/elastic-connector' %}active{% endif %}">ElasticSearch Data Pipeline Connector</a></li>
          <li><a href="{{site.baseurl}}/guides/getting-started" class="{% if page.url contains '/guides/getting-started' %}active{% endif %}">MongoDB Data Pipeline Connector</a></li>
          <li><a href="{{site.baseurl}}/guides/click-house-connector" class="{% if page.url contains '/guides/click-house-connector' %}active{% endif %}">ClickHouse Data Pipeline Connector</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <span href="{{site.baseurl}}/community/">Community<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/support/" class="{% if page.url contains '/support/' %}active{% endif %}">SUPPORT</a></li>
          <!--<li><a href="{{site.baseurl}}/blog" class="{% if page.url contains '/blog/' %}active{% endif %}">BLOG</a></li>-->
          <li><a href="https://github.com/bugsbunnyshah/braineous_dataplatform/discussions" class="{% if page.url contains '/discussion/' %}active{% endif %}">DISCUSSION</a></li>
          <li><a href="{{site.baseurl}}/about/" class="{% if page.url contains '/roadmap/' %}active{% endif %}">ROADMAP</a></li>
          </ul>
      </li>
      <li>
        <a href="{{site.baseurl}}/get-started" class="button-cta secondary white">START CODING</a>
      </li>
    </ul>
      </nav>
    </div>
  </div>
</div>
