<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-7-12 homepage-hero-band-hero-callout">
    <h2>BRAINEOUS<span class="light-blue">/</span><br>DATA<span class="light-blue">/</span><br>PLATFORM</h2>
    </div>
  <div class="grid__item width-1-12"></div> 
  <div class="grid__item width-4-12 text-center homepage-hero-band-calloutcontent">
    <p>
      Schema-agnostic, dynamic configuration-based approach to data delivery at scale
    </p>
    <p class="nowavailable">Now Available</p>
    <h3>Braineous 1.0.0-CR2 (Candidate Release 2)</h3>
  </div>
  <div class="grid__item width-12-12 text-center">
    <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started with Braineous</a>
    <a href="{{site.baseurl}}/guides/getting-started" class="button-cta">Tutorial</a>
  </div>  
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>