<div class="component homepage-features-band full-width-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>Braineous Features</h2>
    </div>
  </div>
  <div class="grid-container">
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/data_ingestion.png">
      <h3><a href="/container-first">High Scale Data Ingestion</a></h3>
      <p>
        Continuously ingest and transform data streams at scale.
      </p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-reactive.svg">
      <h3><a href="/continuum">Data Pipelines</a></h3>
      <p>
        Schema-agnostic, dynamic configuration-based approach to data delivery at scale.
        No service disruption to any changes
      </p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{{site.baseurl}}/assets/images/home/icon-rev-standards.svg">
      <h3><a href="/standards">Community and Standards</a></h3>
      <p>
        Braineous provides a cohesive,
        real-time data delivery platform
        using open source solutions like
        Quarkus, Apache Kafka, and Apache Flink.
        All wired on a MongoDB datalake.
      </p>
    </div>
    <!--
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-kube-native.svg">
      <h3><a href="/kubernetes-native">Kube-Native</a></h3>
      <p>The combination of Quarkus and Kubernetes provides an ideal environment for creating scalable, fast, and lightweight applications. Quarkus significantly increases developer productivity with tooling, pre-built integrations, application services, and more.</p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-developerjoy.svg">
      <h3><a href="/developer-joy">Developer Joy</a></h3>
      <p>A cohesive platform for optimized developer joy with unified configuration and no hassle native executable generation. Zero config, live reload in the blink of an eye and streamlined code for the 80% common usages, flexible for the remainder 20%.</p>
    </div>
    -->
  </div>
</div>