---
layout: base
---
{% assign versioned_page = page.url | startswith: '/version/' %}
{% if versioned_page %}
  {% assign docversion = page.url | replace_regex: '^/version/([^/]+)/.*', '\1' %}
{% else %}
  {% assign docversion = 'latest' %}
{% endif %}
{% assign guide_url = page.url | replace_regex: '^/version/[^/]+(/.*)', '\1' %}


<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{{site.baseurl}}/get-started">Back</a>
    </div>
    <!--
    <div class="flexlabel">
      <label>By Version</label>
    </div>
    -->
  </div>
</section>

<div class="grid-wrapper guide">
  <div class="grid__item width-8-12 width-12-12-m">
    <h1 class="text-caps">{{page.title}} {{page.docversion}}</h1>
    {{ content }}
  </div>
  <div class="grid__item width-4-12 width-12-12-m tocwrapper">
    <div class="hide-mobile toc">{{ page.document | tocify_asciidoc: 2 }}</div>
  </div>
</div>
